


#contact-container {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    margin-top: 2vh;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

#contact-container #form-item {
    outline: none;
    border: 0.1em solid var(--eerie-black);
    border-radius: 0.3em;
    background-color: var(--charleston-green);
    opacity: 0.9;
    width: 100%;
    padding: 1.25em 1em;
    margin-bottom: 1%;
    color: var(--medium-spring-green);
}

#contact-container #form-item:focus {
    outline: none;
    border: 0.1em solid var(--medium-spring-green);
    opacity: 1;
}

#contact-container textarea[type=textbox] {
    resize: none;
    height: 25vh;
    width: 100%;
    max-width: 100%;
}

#contact-container input[type=submit] {
    max-width: 50em;
}

#contact-container input[type=submit]:hover {
    cursor: pointer;
    border: 0.1em solid var(--medium-spring-green);
}

#contact-container h1 {
    width: 20vw;
}