/* home.css */

#titles-container p {
    margin: 0;
    text-align: center;
    font-weight: 900;
    font-size: 3vw;
}

#titles-container {
    display: inline-block;
    position: relative;
    top: 35vh;
    margin-left: 20vw;
}

.name {
    color: var(--medium-spring-green)
}

@media only screen and (max-width: 800px) {
    #titles-container p {
        font-size: 4vw;
    }
    #titles-container {
        margin: 0;
    }
}
